{% extends "base.html" %}

{% block css %}
  {{block.super}}
  <style media="screen">
    strong {
      margin-right: 15px;
    }
    ul li {
      list-style: none;
    }
  </style>
{% endblock css %}

{% block content %}
  <br />
  <br />
  <br />
  <ul>
    <li><strong>/token</strong> Get Token</li>
    <li><br /></li>
    <li><strong>/my_profile</strong> IsAuthenticated Permission</li>
    <li><br /></li>
    <li>더미 커스텀 권한들:</li>
    <li><strong>/permission/delete</strong> Delete Permission (부모 권한)</li>
    <li><strong>/permission/edit</strong> Edit Permission (Delete의 자식 권한)</li>
    <li><strong>/permission/view</strong> View Permission (Edit의 자식 권한)</li>
    <li><strong>/permission/list</strong> List Permission (View의 자식 권한)</li>
    <li><br /></li>
    <li>코드의 위치:</li>
    <li><em>users.api</em></li>
    <li><em>users.tests</em></li>
    <li><em>permissions.api</em></li>
    <li><br /></li>
    <li>Unit Testing:</li>
    <li>docker-compose -f local.yml run --rm django python manage.py test</li>
  </ul>
{% endblock content %}
